[submodule "backend"]
	path = backend
	url = git@github.com:leonard-pak/technopark-dbms-forum.git
	branch = monitoring
[submodule "database"]
	path = database
	url = git@github.com:leonard-pak/technopark-dbms-forum.git
	branch = db
[submodule "tests"]
	path = tests
	url = git@github.com:mailcourses/technopark-dbms-forum.git
